body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("./BG.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back{
  /* The image used */
  background-image: url("./BG-2.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron1 {
  color: rgb(255, 255, 255);
  height: 100vh;
}

.about {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1.87rem;
  border-radius: 0.2rem;
}

.photo {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.8rem;
  border-radius: 0.2rem;
}