body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("./BG.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron1 {
  color: rgb(255, 255, 255);
  background-image: url("back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -ms-background-size: cover;
}

.about {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1.87rem;
  border-radius: 0.2rem;
}

.photo {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.8rem;
  border-radius: 0.2rem;
}